html,body{
	height: 100%;
}


.welcome{
	text-align: center;
	
}

.searchbox{
	/*padding-top: 400px;*/
	position: relative;
	top: 50%;
	

	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);

}